.desktop *::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}

.desktop *::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

.desktop *::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.desktop textarea::-webkit-scrollbar-track
{
    background: rgba(255, 255, 255, 0.1);
}

.desktop textarea::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.2);
}

.mdl-navigation__link {
    outline: none;
}

.desktop .mdl-navigation__link-icon,
.desktop .mdl-navigation__link-tooltip {
    display: none;
}

.mobile .mdl-navigation__link-tooltip,
.tablet .mdl-navigation__link-tooltip,
.mobile .mdl-navigation__link-text,
.tablet .mdl-navigation__link-text {
    display: none;
}

.mdl-layout__header {
    max-height: 20000px;
}

.demo-layout-transparent {
    background: url('../images/intro-13-1400x941.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header {
    height: 100vh;
    position: relative;
    background: rgba(0,0,0,.4);
    background: radial-gradient(transparent, #000);
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
}

.demo-layout-transparent .mdl-layout__content {
    background: #f5f5f5;
}

.demo-layout-transparent .mdl-layout__header .mdl-layout__header-row {
    padding: 0 16px 0 16px;
}

.demo-layout-transparent .mdl-layout__header .mdl-layout__header-row--text {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    /*background: rgba(0,0,0,.2);*/
    height: calc(5*56px);
    width: 100%;
}

.mobile .demo-layout-transparent .mdl-layout__header .mdl-layout__header-row--text {
    height: calc(2.6*56px);
}

.mobile .demo-layout-transparent .mdl-layout__header .mdl-layout__header-row--large {
    font-size: 2em;
    height: 36px;
}

.demo-layout-transparent .mdl-layout__header .mdl-layout__header-row--large {
    font-size: 3em;
    font-weight: 900;
    height: 56px;
}

.mobile .demo-layout-transparent .mdl-layout__header .mdl-layout__header-row--medium {
    font-size: 1em;
    height: 36px;
}

.demo-layout-transparent .mdl-layout__header .mdl-layout__header-row--medium {
    font-size: 1.6em;
    height: 56px;
}

.mobile .mdl-button--brown {
    min-width: 36px;
    width: 36px;
    height: 36px;
}

.mdl-button--brown:hover,
.mdl-button--brown {
    background: #F4A42A;
    color: #fff;
}

.mdl-textfield__input {
    border-bottom-color: #545766;
}

.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {

    color: #545766;
}

.mdl-textfield__label {
    color: #545766;
    font-size: 20px;
    display: flex;
}

.mdl-textfield--floating-label.is-dirty .mdl-textfield__label .material-icons,
.mdl-textfield--floating-label.is-focused .mdl-textfield__label .material-icons {
    font-size: 12px;
    padding-right: 4px;
    padding-top: 4px;
}

.mdl-textfield__label .material-icons {
    font-size: 20px;
    padding-right: 10px;
}

.mdl-textfield__label:after {
    background-color:#f5f5f5;
}

.mdl-textfield--icon {
    margin-left: -42px;
    font-size: 34px;
    position: absolute;
    color: #f5f5f5;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    background: #393B2E;
}


.mdl-tabs__swiper-container .mdl-tabs__tab-bar{
    border-bottom: none;
}
.mdl-tabs__swiper-container {
    border-bottom: 1px solid #e0e0e0;
}

.mobile.portrait #contact form {
    width: 90% !important;
}

.mobile.portrait #contact .mdl-layout__header-row--medium {
    padding: 0 10vw !important;
}